<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock %} by Chinmay Vibhute</title>
		<link rel="stylesheet" href="/static/css/paper.css" />
		<link rel="stylesheet" href="/static/css/styles.css" />
		{% block headerscripts %} {% endblock %}
	</head>
	<body>
		<div id="root"></div>
		<script src="/static/js/axios.js"></script>
		<script src="/static/js/babel.min.js"></script>
		<script src="/static/js/react.development.js"></script>
		<script src="/static/js/react-dom.development.js"></script>
		{% block reactscripts %} {% endblock %}
	</body>
</html>
